 *{
    margin: 0%; /* creates space between the objects and the border */
    padding: 0%;  /*Create space around the content */
    /* box-sizing: border-box; */
    
  }  

.header{ /* class type*/
  padding: 20px;
  text-align: center;
  background: #3dbc96;
  color: white;
}

.header h1 {
 font-size: 60px;
}

h2 {
    padding-left: 25px;
    color: #dbcfcf;
 }

.navbar {/* class type*/
    display: flex;
    
}

.navbarleft {
    text-align: center;
    background: #0f92b0;
    color: white; 
}

nav ul li{
    display: inline;
}

nav ul {
    display: block;
}

#hamburger-menu {
    display: none;
}



ul {/* class type*/
    display: flex;
    list-style-type: none;
    font-size: 10px;
     /* border: 5px solid;  */
}

ul li a{
    padding:0 30px;
    text-decoration: none;
    color: white;

}

ul li a:hover{
    padding:0 30px;
    text-decoration: none;
    color: #eed9d9;
    border: 1px solid white;
}


img {/* class type*/
    width: 70%;
    padding: 20px;
}

body {/* class type*/
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.content{/* class type*/
    background-color: rgb(113, 104, 104);
}


.Home/* class type*/
{ 
    display: flex;
    background-color: rgb(55, 46, 46);
    align-items: center;
    animation-name: mainback;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.Home .block{
    display: block;
}

.Home ul,.Home h1{
    text-align: left;
    padding-right: 40px; 
    color: white;

}

.Home p{
    padding-top: 30%;
    margin-right: 40px;
    color: #0f92b0;
    text-align: justify;
    font-size: xx-large;

}
.Home img{
    width:80%;
    padding: 0px;
    align-self:center;
}

.LinkTop a{
    text-decoration: none;
    color: white;
    background-color: #1b9baf;
    font-size: x-large;
    padding: 10px;
    width: 20%;
}

@media screen and (width > 1000px)
    {

    }

@media screen and (max-width: 1000px)
    {

    }

                
    @media screen and (max-width: 768px)
    {
        nav ul li {
            display: block;
        }
    
        #hamburger-menu {
            display: block;
        }
    
        nav ul {
            display: none;
        }
    }

    @media screen and (max-width: 540px)
    {

    }
