* {
  margin: 0%;
  /* creates space between the objects and the border */
  padding: 0%;
  /*Create space around the content */
  /* box-sizing: border-box; */

}

.header {
  /* class type*/
  padding: 20px;
  text-align: center;
  background: #3dbc96;
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #3dbc96;
  padding: 10px;
  color: white;
}

.navbar ul {
  list-style-type: none;
  font-size: 18px;
}

.navbar ul li {
  display: inline;
  margin: 0 10px;
}

button {
  font-size: large;
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(230, 218, 218);
  cursor: pointer;
}

.navbar button {
  font-size: 16px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.navbar button:hover {
  color: #eb8181;
  border-bottom: 2px solid #eb8181;
}

img {
  width: 30%;
  padding: 20px;
}

.align {
  display: flex;
  justify-content: space-around;
}

.column {
  float: left;
  width: 25%;
}


.column img { /* the images when not chosen or hovered over*/
  opacity: 0.8;
  cursor: pointer;
  width: 80%
}

.column img:hover {/* the images when hovered over*/
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

.container img { /*the expanded image*/
  width: 70%;
  padding-left: 15%;
}

.box { /* set the box to auto so it scales with the screen size*/
  width: auto;
}

.box img {
  max-width: 100%;/* set the max width to 100% so it does not become to big*/
  width: 50%;
  height: auto;
  /* vary this to your needs ie auto, 100%, etc */
  margin: 0 auto;
}


/* Style the crab sections */
.crab {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid #3dbc96;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.crab h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.crab p {
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
}

.columncollapsible { /*div class*/
  float: left;
  width: 35%;
  padding: 10px;
  padding-left: 175px;
  min-height: 200px;
}

.collapsible { /*button class*/
  display: flex;
  background-color: rgb(255, 94, 0);
  color: black;
  cursor: pointer;/*have a cursor pointer so that users know to click on it for desktop*/
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  font-size: 15px;
  justify-content: space-around;
}

/* content hidden by default */
.content {
  padding: 0 18px;
  display: none;
  background-color: rgb(255, 94, 0);
}

/* Clear floats after the columns */
.rowcollapsible:after {
  content: "";
  display: table;
  clear: both;
}

body {
  /* class type*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}


.footer { /* footer here cause got nothing else*/
  background-color: #3dbc96;
  color: white;
  text-align: center;
  padding: 10px;
}

.footer img {
  width: 5%;
}

#hamburgermenu {
  display: none;
}

.delicacies img {
  padding: 20px;
  width: 50%
}

#game { /* game outline*/
  width: 100%;
  height: 400px;
  border: 1px solid black;
}

#block { /* enemies spawn position and color*/
  width: 30px;
  height: 30px;
  background-color: pink;
  position: relative; 
  top: 270px;
  left: 100%;
  animation: block 3s infinite;
  /* for the block to move within the given time frame*/
}

#character {  /* character spawn position and color*/
  width: 100px;
  height: 100px;
  background-color: orange;
  position: relative;
  top: 300px;
  left: 80px;
}

.controls {
  width: 49%;

}

.restartgame {
  width: 49%;
  margin-left: 30px;
}

@keyframes jump { /*keyframes added for the jump animation */
  0% {
    top: 300px;
  }

  10% {
    top: 250px;
  }

  /* Starting to lift */
  30% {
    top: 200px;
  }

  /* Mid-jump */
  70% {
    top: 200px;
  }

  /* Still in mid-jump */
  90% {
    top: 250px;
  }

  /* Falling back */
  100% {
    top: 300px;
  }

  /* Back to original position */
}

@keyframes block { /*keyframes added for the block moving animation */
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

.animate { /*animate class so that it is triggered by controls instead of doing it by default */
  animation: jump 500ms;
}



@media screen and (width > 800px) { /* when the screen size is desktop*/
  nav ul li {
    display: inline;
  }

  #hamburgermenu {
    display: none;
  }

  nav ul {
    display: block;
  }
}

@media screen and (max-width: 800px) {/* when the screen size is mobile*/
  nav ul li {
    display: block;
  }

  #hamburgermenu {
    display: block;
  }

  nav ul {
    display: none;
  }

  .box {
    width: auto;
  }

  .box img {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    height: auto;
    /* vary this to your needs ie auto, 100%, etc */
    margin: 0 auto;
  }

  .columncollapsible {
    width: 100%;
    padding: 10px;
    min-height: 0px;
  }

  .content p {
    font-size: 20px;
  }

  .footer img {
    width: 0%;
  }

  #block {
    animation: block 2s infinite;
    /* for the block to move within the given time frame*/
  }

  .controls {
    width: 100%;

  }

  .restartgame {
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
  }
}
